{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <section class="container">

        <h3>ARE YOU SURE YOU WANT TO DELETE YOU ACCOUNT?</h3>
        <h5>This is an irreversible action.</h5>
        <div class="row ">

            <form method="post">
                {% csrf_token %}
                <button class="button submit-button" name="delete" type="submit">Delete</button>
            </form>

            <input type="button" class="button secondary" onclick="goBack()" value="Back"/>

        </div>
    </section>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

{% endblock %}

