{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}


    <section class="container">
        <h3>Password Change</h3>
        <p>
            Please enter your old password, for security’s sake, and then enter
            your new password twice so we can verify you typed it in correctly.
        </p>

        <div id="content-main">
            <form method="post">
                {% csrf_token %}
                <div>


                    {{ form|crispy }}

                    <div class="submit-row">
                        <button class="button" type="submit" class="default">Change my password</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
