{% extends 'base.html' %}

{% block content %}
    <section class="container">
        <h1>Frequently Asked Questions</h1>
        <p>Here are some things you might wanna know</p>

        <div class="container">

            {% for faq in object_list %}

                <div class="card" style="margin: 2em; padding: 2em">
                    <h4>Q. {{ faq.question }}</h4>
                    <h6>{{ faq.response }}</h6>
                </div>


            {% empty %}

            {% endfor %}

        </div>
    </section>
{% endblock %}