@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap');

:root {
  --primary: #3b187c;
  --primary-dark: #270c58;
  --secondary: #21d188;
  --secondary-dark: #179762;
  --dark: #343344;

  --text-primary: #202020;
  --text-secondary: #888;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  text-align: center;
}

a {
  color: var(--secondary-dark);
} a:hover {
  color: var(--secondary);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-weight: bolder;
}
h2, h3 {
  font-weight: bold;
}
.font-light {
  font-weight: 400;
}

/* ============================================ */

.button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  padding: 12px 30px;
  margin: 0.25em 0;
  margin-right: 1em;

  border: none;
  border-radius: 10px;
  transition: 0.5s;
  color: #fff;
  background: var(--secondary);
} .button:hover {
  background: var(--secondary-dark);
} .button a {
  color: inherit;
  font-size: inherit;
}

.button[class~="secondary"] {
  color: var(--secondary);
  background: var(--primary);
} .button[class~="secondary"]:hover {
  background: var(--primary-dark);
}

.button[class~="default"] {
  color: var(--primary-dark);
  background: #fff;
} .button[class~="default"]:hover {
  background: #cacaca;
}

.button[class~="large"] {
  width: 100%;
}
.button[class~="full-width"] {
  width: 100%;
}
.button[class~="rounded"] {
  border-radius: 50%;
}

/* ---------------------------------- */

.textbox {
  width: 100%;
  padding: 0.75em 1em;
  margin: 0.5em 0;
  border: 2px solid #b1b1b1;
  border-radius: 0.5em;
}

/* -------------------------------- */

.card {
  background: #eeeeee;
  text-align: center;
  position: relative;
  border: none;
  margin: 1em !important;
}

.card img {
  transition: all ease-in-out 0.4s;
}

.card:hover img {
  transform: scale(1.1);
}

.card .card-content {
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.card h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 16px;
  color: #01036f;
  position: relative;
  padding-bottom: 10px;
}

.card h4::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #0d12fc;
  bottom: 0;
  left: calc(50% - 25px);
}

.card span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #01036f;
}

.card .social {
  margin-top: 10px;
}

.card .social a {
  transition: color 0.3s;
  color: #01036f;
}

.card .social a:hover {
  color: #1acc8d;
}

.card .social i {
  font-size: 16px;
  margin: 0 2px;
}