{% load static %}
<html>
    <head>
        <title>Plasma Donor Finder</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>

    {% include 'header.html'  %}

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>