<html>
<head>
    {% load static %}
    <title>Plasma Donor Finder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {% if form %}
        {{ form.media }}

    {% endif %}

</head>

<body>

{% include 'header.html' %}

<div class="content container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-md-8" style="padding-top: 10vh">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>