<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Plasma Help</h3>
                        <p class="pb-3"><em>One donation can save many lives.
                        Help India fight <br> COVID-19.</em></p>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#details">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'faq' %}">FAQ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'query' %}">Feedback</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Reach out to us</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#" class="twitter"><i
                                class="bx bxl-twitter"></i> Twitter</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#" class="facebook"><i
                                class="bx bxl-facebook"></i> Facebook</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#" class="instagram"><i
                                class="bx bxl-instagram"></i> Instagram</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <p>
                        A108 Adam Street <br>
                        NY 535022, USA<br><br>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> info@example.com<br>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="container">

        <p style="text-align: center">
            Made with ❤ for the community, by the community. 
            <a href="https://github.com/abbasidaniyal/PlasmaDonorFinder">Contribute</a>
        </p>

        {% comment %} <div class="copyright">
      &copy; Copyright <strong><span>Bootslander</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div> {% endcomment %}
    </div>
</footer><!-- End Footer -->