{% load static %}

<!-- ======= Footer ======= -->
<link href="{% static 'css/footer.css' %}" rel="stylesheet">
<footer id="footer">
    <svg class="footer-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
        </g>
    </svg>
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-sm-6">
                    <div class="footer-info">
                        <h3>Plasma Help</h3>
                        <p class="pb-3"><em>One donation can save many lives. <br>
                            Help India fight COVID-19.</em></p>

                    </div>
                </div>

                <div class="col-lg-2 col-sm-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#details">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'faq' %}">FAQ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'query' %}">Feedback</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-sm-6 footer-links">
                    <h4>Reach out to us</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://twitter.com/HelpPlasma"
                                                                   class="twitter"><i
                                class="bx bxl-twitter"></i> Twitter</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="mailto:plasma.help2020@gmail.com"
                                                                   class="gmail"><i
                                class="bx bxl-google"></i> Gmail</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://github.com/abbasidaniyal/PlasmaHelp"
                                                                   class="github"><i
                                class="bx bxl-github"></i> Github</a></li>


                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 footer-links">
                    <h4>Contact Us</h4>
                    <p>
                        <strong>Phone:</strong><a style="color: inherit;" href="tel:+918296887106"> +91
                        8296887106 </a><br>
                        <strong>Phone:</strong><a style="color: inherit;" href="tel:+919999106604"> +91
                        9999106604 </a><br>
                        <strong>Email:</strong><a style="color: inherit;" href="mailto:plasma.help2020@gmail.com"> plasma.help2020@gmail.com </a><br>

                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="container">

        <p style="text-align: center">
            Made with ❤ for the community, by the community. <br>
            <a href="https://github.com/abbasidaniyal/PlasmaDonorFinder">Contribute</a>
        </p>

        {% comment %} <div class="copyright">
      &copy; Copyright <strong><span>Bootslander</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div> {% endcomment %}
    </div>
</footer><!-- End Footer -->