{% load static %}

<!-- ======= Header ======= -->
<link href="{% static 'css/header.css' %}" rel="stylesheet">

<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <div class="logo mr-auto">
      <h1 class="text-light"><a href="/"><span>Plasmodium</span></a></h1>
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#contact">Contact</a></li>

        {% if user.is_authenticated %}
          {% if user.user_type == "HOSPITAL" %}
            <li><a class="nav-link" href="{% url 'hospital-dashboard' %}">Dashboard</a>  </li>
          {% endif %}

          <li><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
          <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>

        {% else %}
          <li><a class="nav-link" href="{% url 'login' %}">Login</a></li>
          <li class="drop-down"><a href="">Sign Up</a>
            <ul>
              <li><a href="{% url 'register-donor' %}">As Donor</a></li>
              <li><a href="{% url 'register-hospital' %}">For Hospitals</a>
              {% comment %} <li class="drop-down"><a href="#">Hospital Signup</a> {% endcomment %}
                {% comment %} <ul>
                  <li><a href="#">Maza</a></li>
                  <li><a href="#">aagaya</a></li>
                </ul> {% endcomment %}
              </li>
            </ul>
          </li>
        {% endif %}

      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->