{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <section id="login-form-page">
        <div id="content-container" class="container p-none">
            <h2>Login</h2>
            <div id="login-form-container" class="lgn-container col-lg-8">
                <form id="login-form" method="post">
                    {% csrf_token %}

                    {{ form.non_field_errors }}

                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}

                    <table border="0">
                        {% for field in form.visible_fields %}
                            <tr>
                                <th>{{ field.label_tag }}</th>
                                <td>
                                    {{ field.errors }} {{ field }} {{ field.help_text }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br/>
                    <button class="button full-width submit-button" type="submit">Login</button>
                </form>
                <p>
                <h6><a href="{% url 'password_reset' %}">Forgot Password?</a></h6>
                </p>
            </div>
        </div>
    </section>
{% endblock content %}