{% extends 'base.html' %}

{% block content %}

    <h1>Donor List</h1>

    <form method="get" action="{% url 'hospital-dashboard' %}">
        <label for="kmInput">
            Circle Radius
        </label>
        <input name="filter" type="number" id="kmInput" placeholder="Enter Kilometers" value="{{ filter }}"
               default="50"> KM
        <input type="button" value="Search" id="click">
    </form>



    <ul>
        {% for donor in object_list %}
            <li>


                <div class="card">


                    <h4>{{ donor.user.get_full_name }}</h4>
                    <h6>Email: {{ donor.user.email }}</h6>
                    <h6><a href="tel://{{ donor.mobile_number }}">{{ donor.mobile_number }}</a></h6>
                    <h6><a href="media/{{ donor.report }}" target="_blank">Report</a></h6>


                </div>


                {#    {{ donor.report }}#}
            </li>
        {% empty %}
            <li>No Donors Nearby. Try increasing the distance filter</li>
        {% endfor %}
    </ul>



    <script>

        $("#click").click(function () {
            window.location = '?filter=' + $("#kmInput").val()
        });


    </script>

{% endblock %}
