{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<section class="container">
		<h1>My Profile</h1>
		
    <a href="{% url 'password_change' %}">Change Password</a>
    <form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			
			{{ form|crispy }}
			
			<div class="row">
				<button class="primary submit-button" type="submit">Update</button>
				<button class="secondary" onclick="goBack()">Back</button>
			</div>
    </form>
	</section>
{% endblock %}

<script>
	goBack = () => window.history.back()
</script>
