{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <section class="container">
        <div class="">
            <h1>My Profile</h1>


            <h6><a class="float-right" href="{% url 'password_change' %}">Change Password </a></h6>
            <br/>
            <h6><a class="float-right" style="color: red" href="{% url 'delete-user' %}"> Delete Account </a></h6>

            <form method="post" enctype="multipart/form-data" style="max-width:50em;">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="row">
                    <button class="button submit-button" type="submit">Update</button>
                    <button class="button secondary" onclick="goBack()">Back</button>
                </div>
            </form>
        </div>
    </section>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <style>
        .mw-wrap {
            width: 100%;
        }
    </style>
{% endblock %}

