{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <section id="profile-page" class="container">

        <h1>My Profile</h1>
        <h6><a href="{% url 'profile-edit' %}">Edit Profile</a></h6><br>

        <div>
            <div class="profile">
                {% if profile_type == 'DONOR' %}
                    <div class="card">
                        <div class="card-content profile-info">
                            <div class="user-info">
                                <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
                                <a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a>
                                <p>{{ profile.mobile_number }}</p>
                            </div>

                            <div class="details">
                                <p><strong>Date of Birth </strong><br>{{ profile.birth_date }}</p>
                                <p><strong>Date last tested
                                    negative </strong><br>{{ profile.date_last_tested_negative }}</p>
                            </div>

                            <div class="medical">
                                <p>
                                    <strong>IGG Report</strong><br>
                                    <a href="{% if profile.igg_report %}{{ profile.igg_report.url }}{% endif %} ">Click
                                        Here</a>
                                </p>
                                <p>
                                    <strong>Last COVID Report </strong><br>
                                    <a href="
                                            {% if profile.last_covid_report %}{{ profile.last_covid_report.url }}{% endif %}">Click
                                        Here</a>
                                </p>
                            </div>
                        </div>
                    </div>

                {% elif profile_type == 'HOSPITAL' %}
                    <div class="card">
                        <div class="card-content profile-info">
                            <div class="user-info">
                                <h2>{{ profile.hospital_name }}</h2>
                                <p><strong>Hospital Address </strong><br>{{ profile.hospital_address }}</p>
                            </div>

                            <div class="details">


                                <p><strong>MCI Registeration Number </strong><br>{{ profile.mci_registration_number }}
                                </p>
                                <p><strong>Verification Status </strong><br> >{% if profile.is_verified %} Verified
                                {% else %} Processing
                                {% endif %}</p>

                            </div>

                            <div class="medical">
                                <p><strong>Contact Person </strong><br>{{ profile.contact_person_name }}</p>
                                <p><strong>Contact Person Mobile
                                    Number </strong><br>{{ profile.contact_person_mobile_number }}</p>
                            </div>

                        </div>
                    </div>


                {% endif %}
            </div>
        </div>

        <div class="container" id="map-container">
            <h4 class="center">My Location</h4>
            <div id="map" class="mw-map" style="height: 100%;width: 50%"></div>
        </div>
    </section>

    <script>
        function initMap() {
            var myLatLng = {
                lat: parseFloat('{{ profile.location.y }}'),
                lng: parseFloat('{{ profile.location.x}}')
            };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Your Location!'
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap">
    </script>
{% endblock %}

